<!-- The Modal -->
<div id="editModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-content">
        <h5>Add/Edit Event</h5>
        <br>
        <div class="input-field col s12">
          <i class="material-icons prefix">text_fields</i>
          <input id="event_title" type="text" class="validate" placeholder="Title">
          <label for="event_title" style="margin-left: 32px;">Title</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">description</i>
          <input id="event_desc" type="text" class="validate" placeholder="Description">
          <label for="event_desc" style="margin-left: 32px;">Description</lable>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">edit_location</i>
          <input id="event_loc" type="text" class="validate" placeholder="Location">
          <label for="event_loc" style="margin-left: 32px;">Location</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">date_range</i>
          <input type="text" class="datepicker" id="event_date" placeholder="Date">
          <label for="event_date" style="margin-left: 32px;">Date</label>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">access_time</i>
            <input type="text" class="timepicker" id="start_time" placeholder="Start Time">
            <label for="start_time" style="margin-left: 32px;">Start Time</label>
            </div>
          <div class="input-field col s6">
            <input type="text" class="timepicker" id="end_time" placeholder="End Time">
            <label for="end_time" style="margin-left: 32px;">End Time</label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="modal-close waves-effect waves-red btn-flat" onclick="closeEditModal()">Cancel</a>
        <a class="modal-close waves-effect waves-green btn-flat" onclick="save()">Save</a>
      </div>
    </div>
</div>