<!-- Static list of allevents -->
<div class="events">
    <div class="event-row">
        <div class="event">
            <div class="event-date">
                <div class="event-day">SEPT 21</div>
                <div class="at-sign">@</div>
                <div class="event-time">3:30 - 4 pm</div>
            </div>
            <div class="event-info">
                <div class="event-title">Zumba Session</div>
                <div class="event-desc">
                    <b>Description:</b> This is a description of a Zumba session which should be really fun and cool.
                </div>
                <div class="event-location">Location: Back field</div>
            </div>
        </div>
        
        <!-- Below: actions available will differ based on user role -->
        <% switch (user_role) { 
        case 'student' : %>
            <div class="event-status">
                <div class="status-btn going" onclick="openModal(0)">
                    Going
                </div>
                <div class="status-btn cant-go" onclick="">
                    Can't Go
                </div>
                <div class="status-btn maybe" onclick="">
                    Maybe
                </div>
            </div>
            <% break;
        case 'teacher' : 
        case 'fillactive_admin': %>
            <div class="event-status">
                <div id="edit-event" class="action-btn edit" onclick="">
                    <a href="edit_event">Edit</a>
                </div>
                <div class="action-btn cancel" onclick="updateStatus()">
                    Cancel
                </div>
                <div class="action-btn reminder" onclick="updateStatus()">
                    Reminder
                </div>
            </div>
            <% break;
        } %>
    </div>
    <div class="event-row">
        <div class="event">
            <div class="event-date">
                <div class="event-day">SEPT 21</div>
                <div class="at-sign">@</div>
                <div class="event-time">3:30 - 4 pm</div>
            </div>
            <div class="event-info">
                <div class="event-title">Zumba Session</div>
                <div class="event-desc">
                    Description: This is a description of a Zumba session which should be really fun and cool.
                </div>
                <div class="event-location">Location: Back field</div>
            </div>
        </div>
        <div class="event-status">
            <div class="status-btn going" onclick="openModal(1)">
                Going
            </div>
            <div class="status-btn cant-go" onclick="">
                Can't Go
            </div>
            <div class="status-btn maybe" onclick="">
                Maybe
            </div>
        </div>
    </div>
    <div class="event-row">
        <div class="event">
            <div class="event-date">
                <div class="event-day">SEPT 21</div>
                <div class="at-sign">@</div>
                <div class="event-time">3:30 - 4 pm</div>
            </div>
            <div class="event-info">
                <div class="event-title">Zumba Session</div>
                <div class="event-desc">
                    Description: This is a description of a Zumba session which should be really fun and cool.
                </div>
                <div class="event-location">Location: Back field</div>
            </div>
        </div>
        <div class="event-status">
            <div class="status-btn going" onclick="openModal(2)">
                Going
            </div>
            <div class="status-btn cant-go" onclick="">
                Can't Go
            </div>
            <div class="status-btn maybe" onclick="">
                Maybe
            </div>
        </div>
    </div>
</div>