<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<div>
    <div class="main">


    <div class="dashboard">
    <div class="title">EVENTS SCHEDULE</div>

    <div class="events">
    <div class="event-row">
        <div class="event">
            <div class="event-date">
                <div class="event-day">SEPT 21</div>
                <div class="at-sign">@</div>
                <div class="event-time">3:30 - 4 pm</div>
            </div>
            <div class="event-info">
                <div class="event-title">Zumba Session</div>
                <div class="event-desc">
                    <b>Description:</b> This is a description of a Zumba session which should be really fun and cool.
                </div>
                <div class="event-location">Location: Back field</div>
            </div>
        </div>
        <div class="event-status">
            <div class="status-btn going" onclick="updateStatus()">
                Going
            </div>
            <div class="status-btn cant-go" onclick="updateStatus()">
                Can't Go
            </div>
            <div class="status-btn maybe" onclick="updateStatus()">
                Maybe
            </div>
        </div>
    </div>
    <div class="event-row">
        <div class="event">
            <div class="event-date">
                <div class="event-day">SEPT 21</div>
                <div class="at-sign">@</div>
                <div class="event-time">3:30 - 4 pm</div>
            </div>
            <div class="event-info">
                <div class="event-title">Zumba Session</div>
                <div class="event-desc">
                    Description: This is a description of a Zumba session which should be really fun and cool.
                </div>
                <div class="event-location">Location: Back field</div>
            </div>
        </div>
        <div class="event-status">
            <div class="status-btn going" onclick="updateStatus()">
                Going
            </div>
            <div class="status-btn cant-go" onclick="updateStatus()">
                Can't Go
            </div>
            <div class="status-btn maybe" onclick="updateStatus()">
                Maybe
            </div>
        </div>
    </div>
    <div class="event-row">
        <div class="event">
            <div class="event-date">
                <div class="event-day">SEPT 21</div>
                <div class="at-sign">@</div>
                <div class="event-time">3:30 - 4 pm</div>
            </div>
            <div class="event-info">
                <div class="event-title">Zumba Session</div>
                <div class="event-desc">
                    Description: This is a description of a Zumba session which should be really fun and cool.
                </div>
                <div class="event-location">Location: Back field</div>
            </div>
        </div>
        <div class="event-status">
            <div class="status-btn going" onclick="updateStatus()">
                Going
            </div>
            <div class="status-btn cant-go" onclick="updateStatus()">
                Can't Go
            </div>
            <div class="status-btn maybe" onclick="updateStatus()">
                Maybe
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</div>

</body>
</html> 
