<%- include ./partials/header.ejs %>

<div class="main-feed">

<div class="dashboard">
    <div class="feed-header">
        <div class="title">YOUR FEED</div>
        <div class="add-post-btn card-small" onclick="openPostModal()"><i class="material-icons">create</i> &nbsp;Add Post</div>
    </div>

    <%- include ./feed/add_post_form.ejs %>
    <div class="main-section">
        <%- include ./feed/posts_list.ejs %>
        <div class="right-side">
            <div class="card guidelines">
                <div class="card-content">
                    <span class="card-title" style="font-weight: bold;">Reminders:</span>
                    <div class="guideline-row">
                        <i class="material-icons" style="color: #f3504a;">volunteer_activism</i>
                        <div style="margin-left: 10px;">This is a judgement free zone</div>
                    </div>
                    <div class="guideline-row">
                        <i class="material-icons" style="color: #cc4af3;">people</i>
                        <div style="margin-left: 10px;">We're in this together!</div>
                    </div>
                    <div class="guideline-row">
                        <i class="material-icons" style="color: #694af3;">monitor_heart</i>
                        <div style="margin-left: 10px;">Stay healthy, stay active!</div>
                    </div>
                </div>
            </div>
            <% switch (user_role) { 
                case 'student' : %>
            <div class="card challenge">
                <div class="card-content">
                    <span class="card-title" style="font-weight: bold;">Weekly Challenges:</span>
                    <div class="challenges">
                        <div class="guideline-row">
                            <i id="challenge_btn_0" class="material-icons" style="cursor: pointer;" onclick="challengeCompleted(0)">radio_button_unchecked</i>
                            <div style="margin-left: 10px; font-size: larger;">3 km walk</div>
                        </div>
                        <div class="guideline-row">
                            <i id="challenge_btn_1" class="material-icons" style="cursor: pointer;" onclick="challengeCompleted(1)">radio_button_unchecked</i>
                            <div style="margin-left: 10px; font-size: larger;">5 min meditation</div>
                        </div>
                        <div class="guideline-row">
                            <i id="challenge_btn_2" class="material-icons" style="cursor: pointer;" onclick="challengeCompleted(2)">radio_button_unchecked</i>
                            <div style="margin-left: 10px; font-size: larger;">30 jumping jacks</div>
                        </div>
                    </div>
                </div>
            </div>
            <% break; case 'teacher' :%>
            <div class="card challenge">
                <div class="card-content">
                    <span class="card-title" style="font-weight: bold;">Weekly Challenges:</span>
                    <div class="challenges">
                        <div class="guideline-row">
                            <i id="challenge_btn_0" class="material-icons" style="cursor: pointer;" onclick="">delete</i>
                            <input class="validate" style="margin-left: 10px;" value="3 km walk"></input>
                        </div>
                        <div class="guideline-row">
                            <i id="challenge_btn_1" class="material-icons" style="cursor: pointer;" onclick="">delete</i>
                            <input class="validate" style="margin-left: 10px;" value="5 min meditation"></input>
                        </div>
                        <div class="guideline-row">
                            <i id="challenge_btn_2" class="material-icons" style="cursor: pointer;" onclick="">add</i>
                            <input placeholder="Add a challenge..." style="margin-left: 10px;" class="validate"></input>
                            </div>
                    </div>
                </div>
            </div>
            <% break; } %>
        </div>
        </div>
    </div>
</div>

<script>
    function openPostModal() {
        document.getElementById("addPostModal").style.display = "block";
    }
    function closePostModal() {
        document.getElementById("addPostModal").style.display = "none";
    }
    function addPost() {
        closePostModal();
        document.getElementById("post_content").value;
    }
    function challengeCompleted(index) {
        document.getElementById(`challenge_btn_${index}`).innerHTML = "task_alt";
        document.getElementById(`challenge_btn_${index}`).style.color = "#4af358";
    }
    var posts = JSON.parse('<%= JSON.stringify(posts_data) %>')
</script>