<form action="/users/userlogin" method="POST" id="user_login" style="display: flex;flex-direction: column;margin-top: 20em;">
    <select name="user_role" id="user_role">
        <option value="student">student</option>
        <option value="teacher">teacher</option>
        <option value="fillactive_admin">fillactive_admin</option>
    </select>
    <input type="submit" value="Submit">
</form>