<div class="sidebar">
  <ul id="slide-out" class="sidenav sidenav-fixed">
    <a href="/"><img src="/images/fitspirit-logo.jpg" width="300px"></a>
    <li><a class="sidenav-close" id="feed_tab" href="/feed" onclick="changeTab('feed_tab')">Feed</a></li>
    <li><a class="sidenav-close" id="events" href="/events" onclick="changeTab('events')">Events</a></li>
    <li><a class="sidenav-close" id="wellness_tab" href="/wellness-hub" onclick="changeTab('wellness_tab')">Wellness Hub</a></li>
  </ul>
</div>

<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>