<div class="sidebar">
  <ul id="slide-out" class="sidenav sidenav-fixed">
    <a><img src="/images/fitspirit-logo.jpg" width="300px"></a>
    <li><a class="sidenav-close" id="feed_tab" href="/feed" onclick="changeTab('feed_tab')">Feed</a></li>
    <li><a class="sidenav-close" id="events" href="/events" onclick="changeTab('events')">Events</a></li>
    <li><a class="sidenav-close" id="wellness_tab" href="/wellness-hub" onclick="changeTab('wellness_tab')">Wellness Hub</a></li>
    <li style="position: absolute;bottom: 7em;"><a class="sidenav-close" id="logout_button" href="/"">Logout</a></li>
  </ul>
</div>

<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>