<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<div>
    <div class="title">WELLNESS HUB</div>
    <div class="wellness_component"> Quote of the week</div>
        <blockquote class="blockquote">
            <p class="blockquote_text">
                Nothing can dim the light that comes from within.
            </p>
            <p class="blockquote-author">
                - Maya Angelou
            </p>
        </blockquote>

    <div class="wellness_component"> Recent Posts</div>

    <div class="wrapper">
        <div class="wellness_news">
            <div class="wellness_title">
                <div class="wellness_img">
                    <img src="https://www.healthxchange.sg/sites/hexassets/Assets/wellness/ten-ways-achieve-mental-wellness-b.jpg" alt="image">
                </div>
                <h3> Exercise & Fitness</h3>
                <p><a href="https://www.helpguide.org/articles/healthy-living/the-mental-health-benefits-of-exercise.htm" target="_blank" rel="noopener noreferrer">READ MORE </a></p>
                <p> The Mental Health Benefits of Exercise</p>
            </div>
            <div class="wellness_title">
                <div class="wellness_img">
                    <img src="https://www.gardendesign.com/pictures/images/263x300Exact_62x0/site_3/helianthus-yellow-flower-pixabay_11863.jpg" alt="image">
                </div>
                <h3>Calling all sunflower fans</h3>
                <p><a href="https://www.winchesterstar.com/winchester_star/calling-all-sunflower-fans-free-weekend-harvest-hoping-to-shine-light-on-mental-wellness/article_659e5922-0bc4-5c71-9bbd-da74de411deb.html" target="_blank" rel="noopener noreferrer">READ MORE </a></p>
                <p> Free weekend harvest hoping to shine light on mental wellness</p>
            </div>
        </div>

        <div class="wellness_component"> News</div>
        <br>
        <marquee direction="up" scrollamount="5">
        Mental health week! Learn more about Mental Health Awareness week!
        <br>
        Other news here.
        </marquee>
</div>
</body>
</html>
