<!-- The Modal -->
<div id="wellnessModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-content">
        <h5>Add/Edit Event</h5>
        <br>
        <div class="input-field col s12">
          <i class="material-icons prefix">text_fields</i>
          <input id="event_title" type="text" class="validate" placeholder="Title">
          <label for="event_title" style="margin-left: 32px;">Title</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">description</i>
          <input id="event_desc" type="text" class="validate" placeholder="Content">
          <label for="event_desc" style="margin-left: 32px;">Content</lable>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">link</i>
            <input id="event_desc" type="text" class="validate" placeholder="Article/Video Link">
            <label for="event_desc" style="margin-left: 32px;">Article/Video Link</lable>
        </div>
       
      </div>
      <div class="modal-footer">
        <a class="modal-close waves-effect waves-red btn-flat" onclick="closeWellnessModal()">Cancel</a>
        <a class="modal-close waves-effect waves-green btn-flat" onclick="closeWellnessModal()">Save</a>
      </div>
    </div>
</div>