html, button {
  font-family: "Poppins", sans-serif!important;
}

.sidebar {
  padding-left:25px;
  padding-right: 25px;
  padding-top: 10px;
  margin-left: 300px;
}

.sidenav {
  padding-left: 25px;
}

.sidenav li>a {
  font-size: 18px!important;
  color: #8200ff!important;
  font-weight: 700!important;
  text-transform: uppercase;
}

.event-icon {
  font-size: 1.5rem!important;
  vertical-align: bottom;
}

.event-location {
  margin-bottom: 8px;
}

.card {
  margin-right: 20px!important;
}

.dropdown-content li>span {
  color: #ed2939!important;
}
.roleBtn {
  background-color: #ed2939!important;
  font-weight: 700;
}

form {
  margin-top: 25px;
  margin-left: 20px;
}

.main {
  display: flex;
  flex-direction: row;
}
/*
.main, body {
    height: 100%;
    width: 100%;
    margin: 0;
} */

a {
  cursor: pointer;
  color:#b685f8!important;
}

.dashboard {
  width: 100%;
  height: 100%;
}

.header {
  height: 100px;
}

.logout{
  position: fixed;
  right: 30px;
  top: 20px;
  font-size: 22px;
}

.title {
  font-size: 35px;
  font-weight: bold;
  color: #8200ff;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.event {
  background-color: white;
  border-radius: 15%;
  display: flex;
  min-height: 100px;
  margin-right: 30px;
  width: 75%;
}

.event-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  border: 2px solid black;
  border-left: 0px;
  padding: 5px 10px;
}

.event-date {
  display: flex;
  flex-direction:column;
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  width: 30%;
}

.event-day {
  font-weight: bolder;
  font-size: 22px;
}

.event-status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
}

.status-btn {
  background-color: white;
  border: 2px solid black;
  padding: 2px 4px;
  cursor: pointer;
}

.going:hover {
  color: green;
  border: 2px solid green;
}

.cant-go:hover {
  color: red;
  border: 2px solid red;
}

.maybe:hover {
  color: orange;
  border: 2px solid orange;
}

.events {
  display: flex;
  flex-direction: column;
}

.event-row {
  display: flex;
  flex-direction: row;
  margin: 20px 30px;
  max-width: 75%;
}

.event-title {
  font-size: 22px;
  font-weight: bold;
}

.action-btn {
  background-color: white;
  border: 2px solid black;
  padding: 2px 4px;
  cursor: pointer;
}

.modal-content input {
margin: 10px 0;
}

.modal {
  margin-left: 400px;
  margin-top: 200px;
  z-index: 9999;
}

.card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color:#8200ff;
  cursor: pointer;
}

/* The Close Button */
.close {
color: #aaa;
position: relative;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.field {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.field-label {
display: flex;
align-items: center;
justify-content: flex-end;
width: 25%;
}

.field-input {
width: 70%;
justify-content: end;
}

.wellness_component {
  font-family: 'Roboto', sans-serif!important;
  font-size: 25px;
  font-weight: bold;
  positive: relative;
  padding: 5px 5px;
}

.wrapper{
  margin-top: 10%
}