<!-- The Modal -->
<div id="addPostModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content opacity">
        <h5>Add Post</h5>
        <div class="field">
            <input id="post_content" class="field-input" type="text" name="post_content" placeholder="What do you want to say?">
        </div> 
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-red btn-flat" onclick="closePostModal()">Cancel</a>
            <a class="modal-close waves-effect waves-green btn-flat" onclick="addPost()">Add Post</a>
          </div>

    </div>
</div> 